In [1]:
from tools import dispatcher

file_path = './data/conseil_docente_cleaned.csv'
d = dispatcher.dispatcher(file_path)

Warning: Missing class for teacher BARBARO D., skipping entry.
Warning: Missing class for teacher BUTERA C., skipping entry.
Warning: Missing class for teacher DI GAETANO C., skipping entry.
Warning: Missing class for teacher FRAZZITTA G., skipping entry.
Warning: Missing class for teacher MORENO I., skipping entry.

/Users/juan/Projects/oraccio/tools/dispatcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.df['N.Ore'] = self.df['N.Ore'].astype(int)

In [4]:
d.df

    Identificativo Materia Classi  N.Ore  Compresenze
0       ALLEGRA P.     ING     1E      3          NaN
1       ALLEGRA P.     ING     3H      3          NaN
2       ALLEGRA P.     ING     5I      3          NaN
3       ANSELMO A.     ING     1M      3          NaN
4       ANSELMO A.     ING     1B      3          NaN
..             ...     ...    ...    ...          ...
623      ZAGONE P.     STO     2F      2          NaN
624      ZAGONE P.     ITA     3F      4          NaN
625      ZAGONE P.     STO     3F      2          NaN
626      ZAGONE P.     STO     2B      2          NaN
627      ZAGONE P.     ITA     2F      4          NaN

[623 rows x 5 columns]

In [9]:
for name, group in d.df.groupby('Classi'):
    print(name, sum(group['N.Ore']))

1A 32
1B 32
1C 32
1D 32
1E 32
1F 32
1G 32
1H 32
1I 35
1L 35
1M 32
2A 32
2B 32
2C 32
2D 32
2E 32
2F 32
2G 32
2H 32
2I 35
2L 35
3A 32
3B 32
3C 32
3D 32
3E 33
3F 32
3G 32
3H 32
3L 38
4A 32
4B 32
4C 32
4D 32
4E 33
4F 32
4G 32
4H 32
4I 32
5A 32
5B 32
5C 32
5D 32
5E 33
5F 32
5G 32
5H 32
5I 32
5L 32